<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Photo description:</b>
  <%= @photo.photo_description %>
</p>

<p>
  <b>Date taken:</b>
  <%= @photo.date_taken %>
</p>

<p>
  <b>Album:</b>
  <%= @photo.album_name %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
